*{
    padding: 0;
    margin: 0;
}

.header__logo {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: left;
}

.nav__list__link{
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: left;
}

.contacts__list__link{
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: left;
}

.container{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.hero{
    padding: 200px 0;
}

.features{
    margin: 94px 0;
}

.work {
    margin: 94px 0;
}

.team{
    padding: 94px 0;
}
.nav{
    display: inline-block;
}

.nav__list {
    display: inline-flex;
    flex-direction: row;
    list-style-type: none;
    flex-wrap: wrap;
}

.contacts__list {
    display: inline-flex;
    flex-direction: row;
    list-style-type: none;
    flex-wrap: wrap;
}

.features__list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    flex-wrap:wrap;
}

.work__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    flex-wrap:wrap;
}

.team__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    flex-wrap:wrap;
}

.address__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    flex-wrap:wrap;
}

.team__list__img{
    height: 260px;
    width: 270px;
}

.hero__title{
    display: flex;
    justify-content: center;
    text-align: center;
}

.order__button {
    display: block;
    margin: 0 auto;
}

.work__title {
    display: flex;
    justify-content: center;

}

.team__title {
    display: flex;
    justify-content: center;
}